**/__pycache__/**
*.ipynb
**/.ipynb_checkpoints/
**/log*/
**/dump*/
**/build/
*.o
*.so
*.egg
**/*.egg-info/
*.tar
**/wheels/
.installed.cfg
var/
develop-eggs/
parts/
sdist/
dist/
downloads/
venv/
env/
venv.bak/
env.bak/
.venv
lib64/
MANIFEST
*.manifest
*.pyc
.cache
*.cover

*.npy
*.npz
**/.vscode/
logs/
**/.idea/
**/glove.p
**/annotation/
**/pretrained_checkpoints/
**/pretrained_weights/
temp.py